.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 50px;
}

.column-wrapper {
	display: flex;
}

.kanban-board {
	display: flex;
	gap: 20px;
	margin-top: 24px;
	overflow: hidden;
}

.column {
	flex: 1 1;
	transition: box-shadow 0.3s ease;
	padding: 24px;
	background: #ffffff;
	border: 1px solid rgba(0, 23, 71, 0.07);
	border-radius: 8px;
	min-height: 150px;
	max-width: 300px;
	overflow-y: auto;
	height: 810px;

	[data-rbd-droppable-context-id] {
		min-height: 70vh;
	}

	.task-wrapper {
		display: flex;
		align-items: center;
	}

	.title {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.018em;
		color: #001747;
	}

	.task-count {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		text-align: center;
		font-feature-settings: 'liga' off;
		color: #2d70fd;
		margin-left: auto;
	}
}

.column-navbar-wrapper {
	border-bottom: 1px solid #f1f4f4;
	display: flex;
	align-items: center;
	gap: 12px;

	h5 {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 300;
		font-size: 13px;
		line-height: 24px;
		letter-spacing: -0.01em;
		font-feature-settings: 'liga' off;
		color: #405175;
	}

	h4 {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 16px;
		font-feature-settings: 'liga' off;
		color: #001747;
	}

	.right-side {
		display: flex;
		margin-left: auto;
		gap: 8px;
	}
}

.column-seperator {
	border: 1px solid #f1f4f4;
	transform: rotate(-90deg);
	display: inline-block;
	width: 25px;
	position: relative;
}

.board-seperator {
	border: 1px solid #f6f9fb;
	margin-top: 16px;
}
