.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 2em;
	width: 100%;
	box-sizing: border-box;
}

.column-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.kanban-board {
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin-top: 2em;
	overflow: auto;
	width: 100%;
	box-sizing: border-box;
}

.column {
	transition: box-shadow 0.3s ease;
	padding: 1em;
	background: #ffffff;
	border: 1px solid rgba(0, 23, 71, 0.07);
	border-radius: 8px;
	min-height: 800px;
	width: 100%;
	overflow-y: auto;
}

@media screen and (min-width: 768px) {
	.container {
		flex-direction: row;
	}

	.column-wrapper {
		flex-direction: row;
		gap: 2em;
	}

	.kanban-board {
		flex-direction: row;
	}

	.column {
		flex: 1;
		max-width: 300px;
	}
}

.column-navbar-wrapper {
	border-bottom: 1px solid #f1f4f4;
	display: flex;
	align-items: center;
	gap: 12px;
	flex-wrap: wrap;
}

.column-seperator {
	border: 1px solid #f1f4f4;
	transform: rotate(-90deg);
	display: inline-block;
	width: 25px;
	position: relative;
}

.board-seperator {
	border: 1px solid #f6f9fb;
	margin-top: 16px;
}
