@import './variables.scss';

.board {
	background-color: $very-light-grey;
	width: 100%;
	padding: 24px;
}

.kanban-board {
	.new-board-column {
		min-width: 280px;
		margin-top: 35px;
		background-color: $dark-grey;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $light-grey;
		cursor: pointer;
		border-radius: 10px;
		transition: all 0.3s ease;
	}
}
