.search {
	display: flex;
	align-items: center;
	margin-left: 24px;
}

.search-input {
	width: 200px;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 14px;
	background: rgba(140, 151, 172, 0.07);
	padding-left: 35px;

	&::placeholder {
		font-family: 'Inter', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.02em;
		font-feature-settings: 'liga' off;
		color: #8c97ac;
	}
}

.search-button {
	background-color: transparent;
	border: none;
	position: absolute;
	margin-top: 4px;
	margin-left: 10px;
}
