.edit-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	margin-left: auto;
}

.task-list {
	border: 1px solid rgba(0, 23, 71, 0.05);
	border-radius: 4px;
	padding: 12px 12px 44px;
	margin-top: 16px;
	max-height: 110px;
}

.task-wrapper {
	display: flex;
	align-items: center;

	.task-count {
		margin-left: auto;
	}
}

.info {
	display: flex;
	margin-top: 12px;

	.info-text {
		left: 4px;
		position: relative;
		top: -3px;
	}

	.priority {
		margin-left: auto;
		display: flex;
		gap: 12px;
	}

	.id {
		font-family: 'Inter', sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 13px;
		line-height: 24px;
		font-feature-settings: 'liga' off;
		color: #8c97ac;
		display: flex;
		align-items: center;
	}
}

.content {
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}
