$dark-blue: #635fc7;
$light-blue: #a8a4ff;
$black: #000112;
$very-dark-grey: #20212c;
$dark-grey: #2b2c37;
$grey: #3e3f4e;
$light-grey: #828fa3;
$very-light-grey: #f5f5f5;
$shade-white: #f4f7fd;
$white: #ffffff;
$red: #ea5555;
$hover-red: #ff9898;
